.footer {
    background-color: var(--bolbolestan-color-dark-blue);
    color: white;
}

.footer-copyright-icon {
    vertical-align: sub;
}

.footer-contact-icon {
    font-size: x-large;
    margin-left: 8px;
}
