
.selected-courses-table-container {
    margin: 20px;
}

.selected-courses-table {
    width: 100%;
}

.selected-courses-table td,
.selected-courses-table th {
    text-align: center;
    border-style: solid;
    border-color: var(--bolbolestan-color-light-gray);
    border-width: 1px 0px 1px 1px;
}

.selected-courses-table td {
    padding: 3px;
}

.selected-courses-table th {
    padding: 16px;
    color: var(--bolbolestan-color-dark-blue);
}

.selected-courses-table tr td:first-of-type,
.selected-courses-table tr th:first-of-type {
    border-width: 1px 1px 1px 1px;
}


.selected-courses-table td.selected-courses-table-remove {
    color: var(--bolbolestan-color-red);
    cursor: pointer;
}

.selected-courses-table td.selected-courses-table-units {
    color: var(--bolbolestan-color-dark-blue);
    font-weight: bold;
}

.selected-courses-table td.selected-courses-table-status span {
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: smaller;
}

.selected-courses-table tr.selected-courses-table-row-finalized td.selected-courses-table-status span {
    border-color: var(--bolbolestan-color-green);
    color: var(--bolbolestan-color-green);
}

.selected-courses-table tr.selected-courses-table-row-pending td.selected-courses-table-status span {
    border-color: var(--bolbolestan-color-blue);
    color: var(--bolbolestan-color-blue);
}

.selected-courses-table tr.selected-courses-table-row-queued td.selected-courses-table-status span {
    border-color: var(--bolbolestan-color-gray);
    color: var(--bolbolestan-color-gray);
}

.selected-courses-footer {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid var(--bolbolestan-color-blue);
    padding: 20px 20px 0;
}

.selected-courses-units {
    font-weight: bold;
    color: var(--bolbolestan-color-dark-blue);
}

.selected-courses-buttons .selected-courses-refresh {
    color: white;
    background-color: var(--bolbolestan-color-light-gray);
    border: 2px solid var(--bolbolestan-color-light-gray);
    border-radius: 6px;
    padding: 3px 6px 2px 7px;
    cursor: pointer;
}

.selected-courses-buttons .selected-courses-refresh i,
.search-button i {
    vertical-align: sub;
}

.selected-courses-buttons .selected-courses-submit {
    cursor: pointer;
    margin-right: 3px;
    color: white;
    background-color: var(--bolbolestan-color-dark-green);
    border: 2px solid var(--bolbolestan-color-dark-green);
    border-radius: 6px;
    padding: 3px 30px;
}

.search-container {
    display: flex;
    border: 1px solid var(--bolbolestan-color-light-gray);
    border-radius: 4px;
    padding: 8px 20px;
    width: 50%;
}

.search-input {
    padding: 2px 8px;
    font-size: smaller;
    border-radius: 2px;
    flex-grow: 1;
}

.search-button {
    margin-right: 6px;
    color: white;
    background-color: var(--bolbolestan-color-dark-green);
    padding: 3px 8px;
    font-size: smaller;
    border-radius: 2px;
    cursor: pointer;
}

.course-type-filters-container {
    display: flex;
    padding: 0px 20px 20px;
    justify-content: space-around;
    border-bottom: 2px solid var(--bolbolestan-color-blue);
}

.course-type-filters-container span.course-type-filter {
    border: 2px solid var(--bolbolestan-color-light-gray);
    border-radius: 8px;
    padding: 5px 40px;
    cursor: pointer;
}

.course-type-filters-container span.course-type-filter.active {
    background-color: var(--bolbolestan-color-light-blue);
}

.available-courses-table {
    width: 100%;
}

.available-courses-table td,
.available-courses-table th {
    text-align: center;
}

.available-courses-table td {
    border-style: solid;
    border-color: var(--bolbolestan-color-light-gray);
    border-width: 0px 0px 1px 1px;
    padding: 3px;
}

.available-courses-table th {
    padding: 16px;
    color: var(--bolbolestan-color-dark-blue);
    border-style: solid;
    border-color: var(--bolbolestan-color-light-blue);
    border-width: 0px 0px 2px 0px;
}

.available-courses-table tr td:last-of-type {
    border-width: 0;
}

.available-courses-table tr:hover td {
    border-top: 2px solid var(--bolbolestan-color-blue);
    border-bottom: 2px solid var(--bolbolestan-color-blue);
}

.available-courses-table tr:hover td:first-of-type,
.available-courses-table tr:hover td:last-of-type {
    border-right: 2px solid var(--bolbolestan-color-blue);
}

.available-courses-table tr:hover td:last-of-type {
    border-top: unset;
    border-bottom: unset;
}

.available-courses-table td.available-courses-table-units {
    color: var(--bolbolestan-color-dark-blue);
    font-weight: bold;
}

.available-courses-table td.available-courses-table-capacity {
    font-weight: bold;
}

.available-courses-table td.available-courses-table-capacity.not-full {
    color: var(--bolbolestan-color-dark-blue);
}

.available-courses-table td.available-courses-table-actions {
    cursor: pointer;
}

.available-courses-table td.available-courses-table-actions i {
    vertical-align: sub;
    padding: 4px 4px 0px 4px;
    color: white;
}

.available-courses-table td.available-courses-table-actions.available-courses-table-actions-add i {
    background-color: var(--bolbolestan-color-green);
}

.available-courses-table td.available-courses-table-actions.available-courses-table-actions-queue i {
    background-color: var(--bolbolestan-color-gray);
}

.available-courses-table td.available-courses-table-type span {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: smaller;
    color: white;
}

.available-courses-table tr.available-courses-table-row-asli td.available-courses-table-type span {
    border-color: var(--bolbolestan-color-light-green);
    background-color: var(--bolbolestan-color-light-green);
}

.available-courses-table tr.available-courses-table-row-umumi td.available-courses-table-type span {
    border-color: var(--bolbolestan-color-yellow);
    background-color: var(--bolbolestan-color-yellow);
}

.available-courses-table tr.available-courses-table-row-paaye td.available-courses-table-type span {
    border-color: var(--bolbolestan-color-light-red);
    background-color: var(--bolbolestan-color-light-red);
}

.available-courses-table tr.available-courses-table-row-takhasosi td.available-courses-table-type span {
    border-color: var(--bolbolestan-color-light-blue);
    background-color: var(--bolbolestan-color-light-blue);
}
