.box-container {
    border: 2px solid var(--bolbolestan-color-blue);
    border-radius: 8px;
    padding: 32px 24px 12px;
    position: relative;
    margin-bottom: 60px;
}

.box-title {
    position: absolute;
    top: 0px;
    transform: translateY(-50%);
    color: white;
    background-color: var(--bolbolestan-color-light-blue);
    border: 2px solid var(--bolbolestan-color-light-blue);
    border-radius: 8px;
    padding: 2px 12px;
}
