
.schedule-header {
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    border-bottom: 2px solid var(--bolbolestan-color-blue);
}

.schedule-header i {
    vertical-align: sub;
}

.schedule-table {
    width: 100%;
}

.schedule-table td,
.schedule-table th {
    text-align: center;
    border-style: solid;
    border-color: var(--bolbolestan-color-light-gray);
    border-width: 0px 0px 1px 1px;
    position: relative;
}

.schedule-table th {
    padding: 25px 10px;
}

.schedule-table tr td:first-of-type {
    padding: 20px 0;
}

.schedule-table .schedule-time {
    position: absolute;
    top: 0;
    width: 90%;
    margin: 5%;
    border-style: solid;
    border-radius: 7px;
    border-width: 0 4px 0 0;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule-table .schedule-time.schedule-time-offset-5 {
    top: 40%;
}

.schedule-table .schedule-time.schedule-time-1-5 {
    height: 144%;
}

.schedule-table .schedule-time.schedule-time-2 {
    height: 188%;
}

.schedule-table .schedule-time.schedule-time-3 {
    height: 285%;
}

.schedule-table .schedule-time.course-type-asli {
    border-color: var(--bolbolestan-color-red);
    background-color: var(--bolbolestan-color-light-red);
}

.schedule-table .schedule-time.course-type-umumi {
    border-color: var(--bolbolestan-color-yellow);
    background-color: var(--bolbolestan-color-light-yellow);
}

.schedule-table .schedule-time.course-type-takhasosi {
    border-color: var(--bolbolestan-color-blue);
    background-color: var(--bolbolestan-color-light-blue);
}

.schedule-table .schedule-time.course-type-paaye {
    border-color: var(--bolbolestan-color-green);
    background-color: var(--bolbolestan-color-light-green);
}
