@import './fonts/vazir-fonts/fonts.css';
@import './icons/flaticon/flaticon.css';

body {
  width: 100vw;
  height: 100vh;
  font-family: Vazir;
}

a:link {
  text-decoration: none;
}

:root {
    --bolbolestan-color-red: #ce0006;
    --bolbolestan-color-light-red: #fe787c;

    --bolbolestan-color-dark-blue: #1A4C89;
    --bolbolestan-color-blue: #0087E0;
    --bolbolestan-color-light-blue: #53baff;

    --bolbolestan-color-dark-green: #06d6a0;
    --bolbolestan-color-green: #28a745;
    --bolbolestan-color-light-green: #90e4a4;

    --bolbolestan-color-yellow: #edbb41;
    --bolbolestan-color-light-yellow: #f4d68d;

    --bolbolestan-color-gray: #909090;
    --bolbolestan-color-light-gray: #c0c0c0;
    --bolbolestan-color-very-light-gray: #e0e0e0;
}

input[type='number'].no-spin::-webkit-inner-spin-button,
input[type='number'].no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
