.term-report-average-row {
    text-align: left;
}

.term-report-average {
    color: var(--bolbolestan-color-light-blue);
    border: 2px solid var(--bolbolestan-color-light-blue);
    border-radius: 8px;
    padding: 2px 12px;
}

.grades-table {
    width: 100%;
    margin-bottom: 12px;
    border-spacing: 0 10px;
    border-collapse: separate;
}

.grades-table td {
    text-align: center;
    border-style: solid;
    border-color: var(--bolbolestan-color-light-blue);
    border-width: 1px 0px 1px 1px;
    padding: 3px;
}

.grades-table tr td:first-of-type {
    border-width: 1px 1px 1px 1px;
    border-radius: 0px 4px 4px 0px;
}

.grades-table tr td:last-of-type {
    border-radius: 4px 0 0 4px;
}

.grades-table td.grades-table-index {
    font-weight: bold;
    color: var(--bolbolestan-color-light-blue);
}

.grades-table td.grades-table-status span {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 90%;
    display: block;
    margin: 0 auto;
    font-size: smaller;
}

.grades-table tr.grades-table-row-passed td.grades-table-status span {
    background-color: var(--bolbolestan-color-light-green);
    border-color: var(--bolbolestan-color-green);
    color: var(--bolbolestan-color-green);
}

.grades-table tr.grades-table-row-failed td.grades-table-status span {
    background-color: var(--bolbolestan-color-light-red);
    border-color: var(--bolbolestan-color-red);
    color: var(--bolbolestan-color-red);
}

.grades-table tr.grades-table-row-pending td.grades-table-status span {
    background-color: var(--bolbolestan-color-light-gray);
    border-color: var(--bolbolestan-color-gray);
    color: var(--bolbolestan-color-gray);
}

.grades-table td.grades-table-grade {
    font-weight: bold;
}

.grades-table tr.grades-table-row-passed td.grades-table-grade {
    color: var(--bolbolestan-color-green);
}

.grades-table tr.grades-table-row-failed td.grades-table-grade {
    color: var(--bolbolestan-color-red);
}

.grades-table tr.grades-table-row-pending td.grades-table-grade {
    color: var(--bolbolestan-color-gray);
}
