
.profile {
    text-align: center;
}

.profile img {
    border: 1px solid var(--bolbolestan-color-light-blue);
    border-radius: 50%;
    margin-bottom: 24px;
}

.profile li {
    margin-bottom: 8px;
}

.profile-key {
    color: var(--bolbolestan-color-light-blue);
    font-weight: 500;
}

.profile-state {
    display: inline-block;
    color: var(--bolbolestan-color-light-blue);
    border: 2px solid var(--bolbolestan-color-light-blue);
    border-radius: 12px;
    padding: 6px 12px;
}
